.full-width {

  background-color: #E1EBEE;
  color: #000080;
  text-align: center;
  border-width: 5px;
}

img {

  border-spacing: 50px;
  padding: 60px;
  border-style: outset;
  border-color: white;
  border-width: thin;
}

h1 {
  padding-top: 50px;
  font-size: 400%;
}

h2 {
  padding-top: 10px;
  padding-bottom: 50px;
  font: Garamond, sans-serif;
}

h3 {
  font-size: 200%;
}

p {

    padding-top: 10px;

}

li {

  padding-top: 10px;

}

#characters {

    padding-top: 30px;
    padding-bottom: 30px;

}

html {

  font: Garamond, serif;
  border-width: 5px;
  background-color: #E1EBEE;

}
